/*CHAT*/

#divChatBackground{
	display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

#closeChatButton{
	position: absolute;
    top: 0.8em;
    right: 3em;
    color: white;
    font-size: 40px;
    font-family: Helvetica, Arial, Sans-Serif;
}

#closeChatButton:hover{
	cursor: pointer;
	color: #b3b3b3;
}

#divChat{
	margin: auto;
    display: block;
    width: 50%;
    height: 50%;
    background-color: #a3a3c2;
    border-radius: 1em;
}

#divChatUp{
	height: 3em;
	width: 100%;
	padding: 1em;
	padding-left: 0;
}

#divImgProfiloChat{
	border-radius: 50%;
	background-size: cover;
	border: white 1px solid;
	width: 3em;
	height: 3em;
	background-color: #b3b3b3;
	background-image: url(../immagini/fotoProfiloIcon.jpg);
	float: left;
	margin-left: 5%;
}

#chatNomeUtente{
	font-size: 300%;
	font-family: NomeUtente;
	font-style: italic;
	color: #1a53ff;
	margin: 0;
	padding-top: 0.1em;
}

#divMessage{
	width: 90%;
	height: 60%;
	margin: auto;
	background-color: white;
	overflow: auto;
	border: black 1px solid;
	border-radius: 1em;
	padding: 0.4em;
}

.nomeLastSender{
	margin: 0.2em;
	font-size: 125%;
}

.chatMessage{
	margin: 0;
}

#inputUserMessage{
	margin-left: 5%;
	margin-top: 0.5em;
	width: 70%;
	border-radius: 5px;
	height: 7%;
}

#inputSendMessage{
	width: 18%;
	height: 7%;
	background-color: #c1d7d7;
	font-family: Contenuto;
	border: none;
}

#inputSendMessage:hover{
	cursor: pointer;
	background-color: #92b9b9;
}